@charset "UTF-8";
.todo-app {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: white;
  margin-top: 50px;
}

h1 {
  text-align: center;
  color: #333;
}

.add-form {
  margin-bottom: 15px;
  display: flex;
}

.add-form input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
}

.add-form button {
  padding: 10px 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  font-size: 16px;
}

.add-form button:hover {
  background-color: #45a049;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  padding: 10px 15px;
  margin-bottom: 8px;
  background-color: #f8f8f8;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  display: flex;
  align-items: center;
}

.todo-item:hover {
  background-color: #eee;
  transform: translateY(-2px);
}

.todo-item.completed span {
  text-decoration: line-through;
  color: #888;
}

.priority-badge {
   	flex-grow: 0 !important;
  	padding: 3px 10px;
  	border-radius: 12px;
  	color: white;
  	font-size: 12px;
  	margin-right: 10px;
}

.priority-badge.high {
    background-color: #ff5252;
}

.priority-badge.medium {
    background-color: #ffb74d;
}

.priority-badge.low {
    background-color: #81c784;
}

.select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  background-color: white;
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filters button {
  background-color: #f1f1f1;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 0 5px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.filters button:hover {
  background-color: #ddd;
}

.filters button.active {
  background-color: #4caf50;
  color: white;
  border-color: #4caf50;
}

.checkbox {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  cursor: pointer;
}
.delete-btn {
  background-color: #e53935;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  transition: background-color 0.3s;
}

.delete-btn:hover {
  background-color: rgba(238, 54, 244, 0.1);
}

.todo-item span {
  flex-grow: 1;
  user-select: none;
}